
   
<div style="height:100vh; text-align: center; display: flex; flex-direction: column; justify-content: center; font-size: 400%;">Ada Lovelace</div>
<div>
        <div id="story"><div class="grid">
            
            <header>
                <h1 data-aos="flip-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="2500">"The more I study, the more insatiable do I feel my genius for it to be."</h1>
            </header>
            <figure data-aos="zoom-in-left" data-aos-duration="5000" class="fig fig--1" style="--aspect-ratio: 3/4;">
                <img src='./ada1.jpg' alt='Ada lovelace'>
            </figure>
            <p data-aos="zoom-in-right" data-aos-duration="1500">“Your best and wisest refuge from all troubles is in your science.”</p>
            <figure data-aos="zoom-out-left" class="fig fig--2" style="--aspect-ratio: 4/3;">
                <img src='./ada3.jpg'>
            </figure>
            <p data-aos="zoom-in-up"
            data-aos-duration="1500">"If you can't give me poetry, can't you give me poetical science?"</p>
            <figure data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="fig fig--3" style="--aspect-ratio: 3/4;">
                <img src='ada2.jpg'>
            </figure>
            <p data-aos="zoom-out-right" data-aos-duration="1500">That brain of mine is something more than merely mortal; as time will show."</p>
        </div></div>
    </div>
  

