.main{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;

}

.title{
    background-color: var(--col4);
    height: 20vh;
    width: 100%;
    font-family: country;
    font-size: 300%;
    padding: 5%;
}

.moodboard{

    background-color: bisque;
    height: 42vh;
    width: 100%;
    display: flex;
}

.moodnames{
    width: 10vw;
    background-color: blueviolet;
}

.moods{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mood{
    height: 7vh;
    width: 100%;
    display: flex;
}

.moodbox{
    width: 8vw;
    height: 100%;
    border: solid thin black;
}