<div class = "main">
    <div class = "images">
        <div class = "imgtop"></div>

        <div class = "whatwedopage">
            <div class = "whatwedoimg">
                <div class = "title2">
                    What do we do?
                </div>
                <div class = "infowhatwedo">
                    We are a community of people creating a safe space for exploring, discussing and spreading awareness about menstrual health and hygeine.
                </div>
            </div>
        </div>
        
        <!-- <div class = "randomimg"></div> -->
    </div>
    <div class = "maincont">
        <div class = "toptrans">
            <div class = "content">
                <div class = "name">
                    ManaSthiti
                </div>
                <div class="tagline">
                    A safe space for mental health
                </div>
                <!-- <div class = "custbutton">
                    Shop now
                </div> -->
            </div>
        </div>
        <div class = "infosec">
            <div class = "name2">
                Why is mentrual health and awareness important?
            </div>
            <div class = "info">
                Although menstruation is a <span style = "color: rgb(208, 178, 241)">natural process</span>, it is barely talked about in society as it is considered taboo.
                <span style = "color: rgb(194, 59, 35)">Millions of people</span> go through this process, being completely <span style = "color: rgb(3, 192, 60)">unaware</span> of what is going on in their bodies.
                This can often lead to <span style = "color: rgb(243, 154, 39)">disorders and diseases</span>, if not managed.
                Menstruation is still not a <span style = "color: rgb(87, 154, 190)">gender-neutral</span> discussion and not a lot of <span style = "color: rgb(208, 178, 241)">queer spaces</span> are available to discuss the same.
                To make the world more <span style = "color: rgb(243, 154, 39)">aware and inclusive</span>, menstrual health and awareness are <span style = "color: rgb(151, 110, 215)">highly important.</span>
            </div>
        </div>
        <div class = "whatwedo">

        </div>
        <div class = "spaces">
            <div class = "name2">
                Explore our spaces
            </div>

            <div class = "spacespace">
                <!-- <div class = "space" *ngFor = "let x of spaces; let i = index">
                    <div class = "spaceimg"><fa-icon [icon]="icons[i]" [ngStyle] = "{'color': x.color}"></fa-icon></div>
                    <div class = "namespace">{{x.name}}</div>
                </div> -->
            </div>
            
        </div>
    </div>
    
</div>